# Dependencies
node_modules

# Build outputs
dist
out
*.tgz

# Tauri
src-tauri/target
src-tauri/gen

# Code coverage
coverage
*.lcov

# Logs
logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Caches
.eslintcache
.cache
*.tsbuildinfo

# IDEs
.idea
.vscode

# OS
.DS_Store
Thumbs.db

# Playwright
test-results
playwright-report
playwright/.cache
